<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<title>404 Not Found</title>
	<style type="text/css">
		body{
			vertical-align: middle;
			text-align: center;
			background :red;
			color:white;
			
		}
		div{
			margin:200px 0 15px 0;
		}
		a{
			color:black;
			text-decoration: none!important;
		}
		a:hover{
			color:black;
		}
		

	</style>
</head>
<body>
	<div>
		<h1>404 Not Found</h1>
		<h3>Sorry but the page you are looking for does not exist, have been removed. name changed or is temporarily unavailable</h3>
		<button type="button" class=" btn btn-success"><a href="/">Back to the homepage</a></button>
	</div>
</body>
</html>